# MODULE 1: Python Basics

In [2]:
#print Hello Python 101

print("Hello Python 101")

print("Hello\nWorld!")

Hello Python 101
Hello
World!

## Types

In [5]:
#type command
type("Hello World")

float

In [6]:
type("1.1")

str

In [7]:
type(1.1)

float

In [8]:
#Cast the following to an int and then to a bool:
print(int("1"))
print(bool("1"))

1
True

## Expresions and Variables

In [9]:
#write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [10]:
#Variables
x = 40 + 24 + 12 + 50
x

126

In [11]:
y = x/60
y

2.1

## String Operations

In [12]:
numbers = "0123456"
#obtain the even elements
numbers[::2]

'0246'

In [14]:
numbers.find("1")

1

In [4]:
Name = "Michael Jackson"
# Print the element on index 6 in the string
print(Name[6])
# Print the element on the 13th index in the string
print(Name[13])
# Print the last element in the string
print(Name[-1])

l
o
n

In [5]:
# Find the length of string
len(Name)

15

In [9]:
# Take the slice on variable name with only index 0 to index 3
Name[0:4]

'Mich'

In [8]:
# Take the slice on variable name with only index 8 to index 11
Name[8:12]

'Jack'

In [10]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [12]:
# Concatenate two strings
statement = Name + "is the best"
statement

'Michael Jacksonis the best'

In [14]:
# Print the string for 2 times
2 * "Michael Jackson"

'Michael JacksonMichael Jackson'

In [15]:
# New line escape sequence
print(" Michael Jackson \n is the best" )
# Tab escape sequence
print(" Michael Jackson \t is the best" )
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson
 is the best
 Michael Jackson 	 is the best
 Michael Jackson \ is the best

In [16]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()   #this method converts lower case characters to upper case characters
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [17]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [18]:
# Find the substring in the string.
Name.find('Jack')

8

In [19]:
# If the sub-string is not in the string then the output is a negative one
Name.find('Jasdfasdasdf')

-1

# MODULE 2: Python Data Structures

## Lists and Tuples:

- Tuples are expressed as comma-separated elements within parenthesis
- Tuples are immutable
- Lists are represented with square brackets
- Lists are mutable

In [3]:
A=(0,1,2,3)
# print the last element of the tuple
print(A[3])
# or
print(A[-1])

3
3

In [7]:
tuple1 = ("disco",10,1.2 )
# Concatenate two tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [9]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
# Sort the tuple
SortedRatings = sorted(Ratings)
SortedRatings  # sorted converts the tuple to a list

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [13]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(NestedT)
# print element on each index
print("Element 0: ", NestedT[0])
print("Element 1: ", NestedT[1])
print("Element 2: ", NestedT[2])
print("Element 3: ", NestedT[3])
print("Element 4: ", NestedT[4])

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
Element 0:  1
Element 1:  2
Element 2:  ('pop', 'rock')
Element 3:  (3, 4)
Element 4:  ('disco', (1, 2))

In [17]:
# Print nested elements
print("Nested Element 2: ", NestedT[2][:])
print("Nested Element 3: ", NestedT[3][:])
print("Nested Element 4 index 0 : ", NestedT[4][-2])
print("Nested Element 4 index 1 : ", NestedT[4][1])

Nested Element 2:  ('pop', 'rock')
Nested Element 3:  (3, 4)
Nested Element 4 index 0 :  disco
Nested Element 4 index 1 :  (1, 2)

In [18]:
# Print the elements in the second nested tuple
print(NestedT[4][1][0])
print(NestedT[4][1][1])

1
2

In [5]:
B=["a","b","c"]
# print the last two elements of the list
print(B[1:])
# or
print(B[1:3])

['b', 'c']
['b', 'c']

In [6]:
# Change the first element of the list to an uppercase
B[0] = "A"
print(B)

['A', 'b', 'c']

In [28]:
# Add multiple elements to a list
list1 = ["1","2","3"]
list1.extend(["4","5"])
list1

['1', '2', '3', '4', '5']

In [29]:
# Add a single element to the list
list1.append("6")
list1

['1', '2', '3', '4', '5', '6']

In [30]:
# Concatenate two lists
list2 = ["7","8","9"]
list3 = list1 + list2
list3

['1', '2', '3', '4', '5', '6', '7', '8', '9']

## Sets

- Sets are a unique collection of objects, denoted by curly brackets {}
- Python automatically removes duplicate items from a set

In [31]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1   # duplicate elements are removed

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [32]:
# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [33]:
# Create a set from list
A = set(["Thriller", "Back in Black", "AC/DC"])

# Add element to set
A.add("KISS")
A

{'AC/DC', 'Back in Black', 'KISS', 'Thriller'}

In [34]:
# Remove the element from set

A.remove("KISS")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [37]:
# Verify if the element is in the set

"AC/DC" in A

True

In [39]:
# Find the intersection of two sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [40]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [41]:
# The elements in set2 but not in set1

album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [42]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [48]:
# Find the union of the two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [46]:
# Check if superset

album_set1.issuperset(album_set2)

False

In [47]:
# Check if subset

album_set2.issubset(album_set1)

False

## Dictionaries

- Dictionaries have keys and values, keys are analogous to indexes in a list.
- Dictionaries are denoted with curly brackets {}
- Keys have to be immutable and unique
- Values can be immutable, mutable and duplicates
- Each key and value pair is separated by a comma

In [2]:
# Create the dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [6]:
# Access to the value by the key
Dict["key1"]

1

In [7]:
Dict[(0,1)]

6

In [8]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [9]:
# Get all the keys in dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [10]:
# Get all the values in dictionary
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [11]:
# Append value with key into dictionary
release_year_dict["Graduation"] = "2007"
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [13]:
# Delete entries by key
del(release_year_dict["Thriller"])
del(release_year_dict["The Bodyguard"])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [15]:
# Verify the key is in the dictionary
"Rumours" in release_year_dict

True

# MODULE 3: Python Programming Fundamentals

## Conditions and Branching

- Comparison operations compare some value or operand and based on a condition, produce a Boolean.
- Operators:
    - equal: ==
    - not equal: !=
    - greater than: >
    - less than: <
    - greater than or equal to: >=
    - less than or equal to: <=

In [20]:
# Condition Equal
a = 5
a == 6

False

In [21]:
# Greater than Sign
i = 6
i > 5

True

In [22]:
# Inequality Sign
i = 2
i != 6

True

In [23]:
# Use Equality sign to compare the strings
"ACDC" == "Michael Jackson"

False

In [24]:
# Use Inequality sign to compare the strings
"ACDC" != "Michael Jackson"

True

- The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. 
- When there are multiple letters, the first letter takes precedence in ordering

In [25]:
# Compare characters
'BA' > 'AB'   #When there are multiple letters, the first letter takes precedence in ordering

True

Branching
- Branching allows us to run different statements for different inputs
- If the statement is True your program will run some predefined tasks, but if the statement is False the program will ignore the task

In [26]:
# If statement example

age = 19
#expression that can be true or false
if age > 18:
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [27]:
# Else statement example

age = 18

if age > 18:
    print("you can enter" )
else: 
    print("go see Metallica")

print("move on")

go see Metallica
move on

- The elif statement, short for else if, allows us to check additional conditions if the condition statements before it are False. If the condition for the elif statement is True, the alternate expressions will be run.

In [28]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Meatloaf")
else:
    print("go see Metallica")

print("move on")

go see Meatloaf
move on

Logical operators
- Sometimes you want to check more than one condition at once. For example, you might want to check if one condition and another condition are both True. Logical operators allow you to combine or modify conditions.
    - and
    - or
    - not

- The and statement is only True when both conditions are true. The or statement is True if one condition, or both are True. The not statement outputs the opposite truth value.

In [30]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year between 1980 and 1989")
    
print("Album year is: " + str(album_year))

Album year between 1980 and 1989
Album year is: 1980

In [31]:
# Condition statement or example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

- The not statement checks if the statement is false:

In [32]:
album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

## Loops

- For
    - The for loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.
    - Range: It is helpful to think of the range object as an ordered list.

In [34]:
# For loop example
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [35]:
#In this example we can print out a sequence of numbers from 0 to 7

for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [37]:
# In Python we can directly access the elements in the list as follows:

dates = [1982,1980,1973]
for year in dates:
    print(year)

1982
1980
1973

In [40]:
#We can change the elements in a list:

squares = ['red', 'yellow', 'green', 'purple', 'blue']
for i in range(5):
    print("before square", i, "is", squares[i])
    squares[i] = "white"
    print("after square", i, "is", squares[i])

before square 0 is red
after square 0 is white
before square 1 is yellow
after square 1 is white
before square 2 is green
after square 2 is white
before square 3 is purple
after square 3 is white
before square 4 is blue
after square 4 is white

In [41]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']
for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

- While
    - The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a False boolean value.

In [43]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]
i = 0
year = dates[0]

while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]

print("It took", i, "repetitions to get out of the loop")

1982
1980
It took 2 repetitions to get out of the loop

In [47]:
#If the score in PlayListRatings is less than 6, exit the loop.

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while rating >= 6 and (i < len(PlayListRatings)):
    print(rating)
    #i = i + 1
    rating = PlayListRatings[i]
    i = i + 1

10
10
9.5
10
8
7.5

In [48]:
# Copy the strings 'orange' from the list squares to the list new_squares. 
# Stop and exit the loop if the value on the list is not 'orange'

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while (i < len(squares)) and squares[i]=="orange":
    new_squares.append(squares[i])
    i = i + 1
print(new_squares)

['orange', 'orange']