# MODULE 1: Python Basics

In [2]:
#print Hello Python 101

print("Hello Python 101")

print("Hello\nWorld!")

Hello Python 101
Hello
World!

## Types

In [5]:
#type command
type("Hello World")

float

In [6]:
type("1.1")

str

In [7]:
type(1.1)

float

In [8]:
#Cast the following to an int and then to a bool:
print(int("1"))
print(bool("1"))

1
True

## Expresions and Variables

In [9]:
#write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [10]:
#Variables
x = 40 + 24 + 12 + 50
x

126

In [11]:
y = x/60
y

2.1

## String Operations

In [12]:
numbers = "0123456"
#obtain the even elements
numbers[::2]

'0246'

In [14]:
numbers.find("1")

1

In [4]:
Name = "Michael Jackson"
# Print the element on index 6 in the string
print(Name[6])
# Print the element on the 13th index in the string
print(Name[13])
# Print the last element in the string
print(Name[-1])

l
o
n

In [5]:
# Find the length of string
len(Name)

15

In [9]:
# Take the slice on variable name with only index 0 to index 3
Name[0:4]

'Mich'

In [8]:
# Take the slice on variable name with only index 8 to index 11
Name[8:12]

'Jack'

In [10]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [12]:
# Concatenate two strings
statement = Name + "is the best"
statement

'Michael Jacksonis the best'

In [14]:
# Print the string for 2 times
2 * "Michael Jackson"

'Michael JacksonMichael Jackson'

In [15]:
# New line escape sequence
print(" Michael Jackson \n is the best" )
# Tab escape sequence
print(" Michael Jackson \t is the best" )
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson
 is the best
 Michael Jackson 	 is the best
 Michael Jackson \ is the best

In [16]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()   #this method converts lower case characters to upper case characters
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [17]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [18]:
# Find the substring in the string.
Name.find('Jack')

8

In [19]:
# If the sub-string is not in the string then the output is a negative one
Name.find('Jasdfasdasdf')

-1

# MODULE 2: Python Data Structures

## Lists and Tuples:

- Tuples are expressed as comma-separated elements within parenthesis
- Tuples are immutable
- Lists are represented with square brackets
- Lists are mutable

In [3]:
A=(0,1,2,3)
# print the last element of the tuple
print(A[3])
# or
print(A[-1])

3
3

In [7]:
tuple1 = ("disco",10,1.2 )
# Concatenate two tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [9]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
# Sort the tuple
SortedRatings = sorted(Ratings)
SortedRatings  # sorted converts the tuple to a list

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [13]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(NestedT)
# print element on each index
print("Element 0: ", NestedT[0])
print("Element 1: ", NestedT[1])
print("Element 2: ", NestedT[2])
print("Element 3: ", NestedT[3])
print("Element 4: ", NestedT[4])

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
Element 0:  1
Element 1:  2
Element 2:  ('pop', 'rock')
Element 3:  (3, 4)
Element 4:  ('disco', (1, 2))

In [17]:
# Print nested elements
print("Nested Element 2: ", NestedT[2][:])
print("Nested Element 3: ", NestedT[3][:])
print("Nested Element 4 index 0 : ", NestedT[4][-2])
print("Nested Element 4 index 1 : ", NestedT[4][1])

Nested Element 2:  ('pop', 'rock')
Nested Element 3:  (3, 4)
Nested Element 4 index 0 :  disco
Nested Element 4 index 1 :  (1, 2)

In [18]:
# Print the elements in the second nested tuple
print(NestedT[4][1][0])
print(NestedT[4][1][1])

1
2

In [5]:
B=["a","b","c"]
# print the last two elements of the list
print(B[1:])
# or
print(B[1:3])

['b', 'c']
['b', 'c']

In [6]:
# Change the first element of the list to an uppercase
B[0] = "A"
print(B)

['A', 'b', 'c']

In [28]:
# Add multiple elements to a list
list1 = ["1","2","3"]
list1.extend(["4","5"])
list1

['1', '2', '3', '4', '5']

In [29]:
# Add a single element to the list
list1.append("6")
list1

['1', '2', '3', '4', '5', '6']

In [30]:
# Concatenate two lists
list2 = ["7","8","9"]
list3 = list1 + list2
list3

['1', '2', '3', '4', '5', '6', '7', '8', '9']

## Sets

- Sets are a unique collection of objects, denoted by curly brackets {}
- Python automatically removes duplicate items from a set

In [31]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1   # duplicate elements are removed

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [32]:
# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [33]:
# Create a set from list
A = set(["Thriller", "Back in Black", "AC/DC"])

# Add element to set
A.add("KISS")
A

{'AC/DC', 'Back in Black', 'KISS', 'Thriller'}

In [34]:
# Remove the element from set

A.remove("KISS")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [37]:
# Verify if the element is in the set

"AC/DC" in A

True

In [39]:
# Find the intersection of two sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [40]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [41]:
# The elements in set2 but not in set1

album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [42]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [43]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [46]:
# Check if superset

album_set1.issuperset(album_set2)

False

In [47]:
# Check if subset

album_set2.issubset(album_set1)

False