Module 1: Python Basics

In [2]:
#print Hello Python 101

print("Hello Python 101")

print("Hello\nWorld!")

Hello Python 101
Hello
World!

Types

In [5]:
#type command
type("Hello World")

float

In [6]:
type("1.1")

str

In [7]:
type(1.1)

float

In [8]:
#Cast the following to an int and then to a bool:
print(int("1"))
print(bool("1"))

1
True

Expresions and Variables

In [9]:
#write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [10]:
#Variables
x = 40 + 24 + 12 + 50
x

126

In [11]:
y = x/60
y

2.1

String Operations

In [12]:
numbers = "0123456"
#obtain the even elements
numbers[::2]

'0246'

In [14]:
numbers.find("1")

1

In [4]:
Name = "Michael Jackson"
# Print the element on index 6 in the string
print(Name[6])
# Print the element on the 13th index in the string
print(Name[13])
# Print the last element in the string
print(Name[-1])

l
o
n

In [5]:
# Find the length of string
len(Name)

15

In [9]:
# Take the slice on variable name with only index 0 to index 3
Name[0:4]

'Mich'

In [8]:
# Take the slice on variable name with only index 8 to index 11
Name[8:12]

'Jack'

In [10]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [12]:
# Concatenate two strings
statement = Name + "is the best"
statement

'Michael Jacksonis the best'

In [14]:
# Print the string for 2 times
2 * "Michael Jackson"

'Michael JacksonMichael Jackson'

In [15]:
# New line escape sequence
print(" Michael Jackson \n is the best" )
# Tab escape sequence
print(" Michael Jackson \t is the best" )
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson
 is the best
 Michael Jackson 	 is the best
 Michael Jackson \ is the best

In [16]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()   #this method converts lower case characters to upper case characters
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [17]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [18]:
# Find the substring in the string.
Name.find('Jack')

8

In [19]:
# If the sub-string is not in the string then the output is a negative one
Name.find('Jasdfasdasdf')

-1

Module 2: Python Data Structures